.container-font-type {
    width: 50%;
    label {
        display: block;}
    select {
        margin-top: 10px;
        width: 50%;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
}
