.container-subtitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    z-index: 3000;

}
.subtitle-container{
    position: absolute;
    border: 3px solid black;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
background-color: #565252ee;
}
