.upload-btn-container {
    display: flex;
    text-align: center;
    gap: 15px;
    align-items: center;
    .upload-btn {
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }
    .file-name{
        margin-left: 0.3rem;
        margin-top: 20px;
        font-family: sans-serif;
    }
}
